<main>

    <h1>Lista de Pontos de Entrada</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome Completo</th>
                <th>Hora de Entrada</th>
                <th>Data</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {{#each pontosEnt}}
            <tr>
                <td>{{id}}</td>
                <td>{{nomeCompleto}}</td>
                <td>{{horaEnt}}</td>
                <td>{{data}}</td>
                <td>
                    <a href="/ponto-ent/{{id}}/edit">Editar</a>
                    <form action="/ponto-ent/{{id}}?_method=DELETE" method="POST" style="display:inline;">
                        <button type="submit">Excluir</button>
                    </form>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <a href="/" class="btn-voltar"> <i class="fa-solid fa-arrow-left"></i>Voltar</a>
</main>